body {
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.container {
    background-color: rgb(255, 227, 217);
    padding: 50px;
    border-radius: 20px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: burlywood;
}

input {
    cursor: pointer;
    border: 10px;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
    border-radius: 20px;
}

#h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
    text-align: center;
    color: cadetblue;
}

button {
    cursor: pointer;
    border: 10px;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    background-color: #fff;
}

